@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');
/**********/
/*DEFAULTS*/
/**********/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 16px;
    font-family: Titillium, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    margin: auto;
    padding: 1rem;
}

header {
    padding: 1rem 2rem;
    color: black;
    border: 1px solid #558BAE;
    background-color: #B0DFE5;
    text-align: center;
}

div {
    display:flex;
}
h1 {
    font-size: 2.827rem;
}
section {
    padding: 1rem 2rem;
    background-color: #EBEBEB;
}
p{
    padding:0.5rem 0;
}
/***************/
/*HOME SPECIFIC*/
/***************/

#home {
    
}

input {
    border: 1px solid #558BAE;
}
.formBox::placeholder {
    color: grey;
}
input{
    display:flex;
}

/***************/
/*LIST SPECIFIC*/
/***************/
.num_list{
    display:grid;
    grid-template-columns: 1fr ;
    grid-gap:1rem;
    padding: 0;
    margin:0 auto;
    
}
li{
    font-size:2rem;
    border: 1rem solid black;
    background-color:#EBEBEB;
    list-style-type: none;
    margin; 1rem 1rem; 
    padding 1rem;
    text-align: center;
    color:#558BAE;

}
/*********/
/*TOGGLES*/
/*********/
.page {
    display:block;
}
.hidden {
    display:none;
}
/***************/
/*MEDIA QUERIES*/
/***************/

@media all and (min-width:500px){
    .num_list{
        grid-template-columns: 1fr 1fr;
    }
@media all and (min-width:600px){
    .num_list{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media all and (min-width:700px){
    .num_list{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
@media all and (min-width:800px){
    .num_list{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
@media all and (min-width:900px){
    .num_list{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
@media all and (min-width:1000px){
    .num_list{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
@media all and (min-width:1250px){
    .num_list{
        grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    }

}